/* Styling untuk tampilan website */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Styling untuk header */
header {
    background-image: url('../img/coffe.jpg'); /* Ganti dengan gambar latar belakang yang sesuai */
    background-size: cover;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-size: 36px;
    margin: 0;
}

/* Styling untuk navigasi */
nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

nav ul li a:hover {
    text-decoration: underline;
    color: #E6462D;
}

/* Styling untuk menu kopi */
.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.menu-item {
    width: 48%;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.3s;
}

.menu-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
}

.menu-item img {
    max-width: 100%;
    height: auto;
}

.menu-item h3 {
    font-size: 18px;
    margin: 5px 0;
}

.menu-item p {
    color: #777;
    font-size: 14px;
    margin: 5px 0;
}

.menu-item span {
    font-weight: bold;
    font-size: 16px;
    display: block;
    margin-top: 10px;
}

.pesan-button {
    background-color: #FF5733;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.pesan-button:hover {
    background-color: #E6462D;
    transform: scale(1.05);
}

/* Styling untuk footer */
footer {
    background-color: #1e1e1e;
    color: #fff;
    padding: 20px 0;
}

.footer-contact h3,
.footer-social h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-contact p {
    margin: 5px 0;
}

.footer-social ul {
    list-style: none;
    padding: 0;
}

.footer-social li {
    display: inline;
    margin-right: 20px;
}

.footer-social a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
}

.footer-social a img {
    width: 32px;
    height: 32px;
    vertical-align: middle;
    margin-right: 5px;
}

.footer-social a:hover {
    text-decoration: underline;
}